/*Classes*/
.wrapper {
  /*#efebe9 brown lighten-5*/
  border-radius: 5px;
  padding: 0;
  background-color: #efebe9;
  margin-top: 8px;
}

.card-panel {
  margin: 0 0 0.5rem 0;
  background-color: white;
  padding: 0;
}

.card-panel.welcome {
  padding: 16px;
}

.row-result:hover {
  background-color: rgba(100, 100, 100, 0.2);
  cursor: pointer;
}

.row-welcome:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.row-result:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.img-adv {
  padding: 0;
}

.img-col {
  padding: 0;
}

.content-col {
  padding-top: .75rem;
}

.row.big-container {
  padding-bottom: 100px;
}

/*Elements*/
md-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h1.title {
  margin-top: 0;
  font-size: 2rem;
}

.plus-icon {
  position: relative;
  top: 5px;
}

/*Media Queries*/
@media only screen and (min-width: 0) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 993px) {

}
