.card-panel {
  border-radius: 5px;
  padding: 0;
}

.sort-row {
  margin-top: 10px;
}

md-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.offset-arrow {
  /*cursor: pointer;*/
}

.offset-arrow:hover {
  /*font-size: 30px;*/
  line-height: 100%;
}

.offset {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 36px;
}

@media only screen and (min-width: 0) {
  button i.search {
    display: block;
  }
}

@media only screen and (min-width: 601px) {
  button i.search {
    display: none;
  }

  button {
    /*font-size: 10px;*/
  }
}

@media only screen and (min-width: 993px) {
  button i.search {
    display: block;
  }
}
