<div class="card-panel z-depth-2">
  <md-toolbar class="light-green darken-3 white-text">
    <span>Find Campgrounds</span>
  </md-toolbar>

  <div class="row">
    <form class="col s12"
      [formGroup]="myForm"
      (ngSubmit)="onSubmit()"
      (change)="persistData()"
    >
      <div class="input-field">
        <label for="city">City</label>
        <input #inputCity class="brown-text lighten-2"
          id="city"
          name="city"
          placeholder="City near your destination"
          type="text"
          [class.valid]="myForm.controls['city'].valid && myForm.controls['city'].touched"
          [class.invalid]="!myForm.controls['city'].valid && myForm.controls['city'].touched"
          [formControl]="myForm.controls['city']"
          [(ngModel)]="city"
          (keyup)="capitalize()"
        />
        <div class="error-message"
          *ngIf="myForm.controls['city'].hasError('required') && myForm.controls['city'].touched">City is required
        </div>
      </div>

      <div class="input-field">
        <select class="brown-text lighten-2"
          materialize="material_select"
          name="state"
          [formControl]="myForm.controls['state']"
          [materializeSelectOptions]="states"
          [(ngModel)]="state"
        >
          <option
            *ngFor="let state of ipInfoService.states"
            [value]="state">{{state}}
          </option>
        </select>
        <label>State</label>
      </div>

      <div class="input-field">
        <select class="brown-text lighten-2"
          materialize="material_select"
          name="radius"
          [formControl]="myForm.controls['radius']"
          [(ngModel)]="radius"
        >
          <option value="50">50 miles</option>
          <option value="100">100 miles</option>
          <option value="200">200 miles</option>
          <option value="300">300 miles</option>
          <option value="500">500 miles</option>
        </select>
        <label>Radius</label>
      </div>

      <div class="input-field">
        <label for="name">Camp Name</label>
        <input class="brown-text lighten-2"
          id="name"
          name="name"
          placeholder="Name of a campground"
          type="text"
          [formControl]="myForm.controls['name']"
          [(ngModel)]="name"
          (keyup)="capitalize()"
        />
      </div>

      <div class="sort-row">
        <span>Sort by:</span>
        <input
          id="sb-name"
          name="sortby"
          type="radio"
          value="name"
          [formControl]="myForm.controls['sortby']"
          [(ngModel)]="sortby"
        />
        <label for="sb-name">Name</label>
        <input
          id="sb-distance"
          name="sortby"
          type="radio"
          value="distance"
          [formControl]="myForm.controls['sortby']"
          [(ngModel)]="sortby"
        />
        <label for="sb-distance">Distance</label>
      </div>

      <div class="row btn-row">
        <button class="btn btn-default light-green darken-3 white-text"
          type="submit"
          [disabled]="!myForm.valid"
        >
          <i class="material-icons left">search</i>
          Search
        </button>
      </div>
    </form>
  </div>

</div>
