.navbar-fixed nav {
  background-image: url('../images/camping-nav.jpg');
  background-size: cover;
  /*light-green darken-3*/
  border-bottom: 10px solid #558b2f;
  margin-bottom: 10px;
}

nav .brand-logo {
  color: green;
}

.active {
  /*#64b5f6 blue lighten-2*/
  color: #64b5f6;
  font-size: 1.25rem;
}

html {
  min-height: 150vh;
}

body {
  /*overflow: hidden;*/
}

main {
  margin: 4px 0 0 0;
}

/*Global media queries*/
@media only screen and (min-width: 0) {
  nav, nav .nav-wrapper, .navbar-fixed {
    line-height: 64px;
  }
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper, .navbar-fixed {
    line-height: 64px;
  }
}

@media only screen and (min-width: 993px) {
  nav, nav .nav-wrapper, .navbar-fixed {
    line-height: 64px;
  }
}

/*Materialize Overrides!!!!!!!!!!!*/
/*Limit the size of the select dropdown*/
.dropdown-content.select-dropdown.active, .dropdown-content.select-dropdown {
  max-height: 200px;
}

/* label color */
.input-field label {
 /*color: #000;*/
}

/* label focus color */
.input-field label.active {
  /*brown lighten-2*/
 color: #a1887f;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  /*brown lighten-2*/
 color: #a1887f;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  /*brown lighten-2*/
  border-bottom: 1px solid #a1887f;
  box-shadow: 0 1px 0 0 #a1887f;
}
/* valid color */
.input-field input[type=text].valid {
 /*border-bottom: 1px solid #000;*/
 /*box-shadow: 0 1px 0 0 #000;*/
}
/* invalid color */
.input-field input[type=text].invalid {
 /*border-bottom: 1px solid #000;*/
 /*box-shadow: 0 1px 0 0 #000;*/
}
/* icon prefix focus color */
.input-field .prefix.active {
 /*color: #000;*/
}

ul.select-dropdown.active li span {
  color: #a1887f;
}

.dropdown-content li>a, .dropdown-content li>span {
  /*color: #64b5f6;*/
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  margin-bottom: 0;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]) {
  /*border-bottom: none;
  box-shadow: none;*/
}

input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not:([readonly]) {
  /*border-bottom: none;
  box-shadow: none;*/
}

/*Underline valid colors:*/
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid {
  border-bottom: 1px solid #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}

input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid {
  border-bottom: 1px solid #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}

input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}

/*Underline invalid colors:*/
input:not([type]).invalid, input:not([type]):focus.invalid, input[type=text].invalid, input[type=text]:focus.invalid, input[type=password].invalid, input[type=password]:focus.invalid, input[type=email].invalid, input[type=email]:focus.invalid, input[type=url].invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}

input[type=url]:focus.invalid, input[type=time].invalid, input[type=time]:focus.invalid, input[type=date].invalid, input[type=date]:focus.invalid, input[type=datetime].invalid, input[type=datetime]:focus.invalid, input[type=datetime-local].invalid, input[type=datetime-local]:focus.invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}

input[type=tel].invalid, input[type=tel]:focus.invalid, input[type=number].invalid, input[type=number]:focus.invalid, input[type=search].invalid, input[type=search]:focus.invalid, textarea.materialize-textarea.invalid, textarea.materialize-textarea:focus.invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}

/*Changing the height of moving labels*/
.input-field label.active::after {
  /*transform: none;*/
}

/*Radio button color overrides*/
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  /*light-green darken-3*/
  background-color: #558b25
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  /*light-green darken-3*/
  border: 2px solid #558b25
}

.toast {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

nav ul a:hover {
  /*background-color: rgba(255,255,255,0.15)*/
  background-color: rgba(0,0,0,0.3)
}

nav ul a {
  border-radius: 10px;
}
/*End Materialize Overrides!!!!!!!!!!!!*/

.btn-row {
  margin-top: 20px;
}

.error-message {
  font-size: .8rem;
  font-color: #f44336;
}

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  /*margin-right: -1em;*/
  margin-right: 0;
  padding-right: 1em;
  text-align: left;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

/*.block-with-text:hover:after {
  background-color: #eeeeee;
}*/
