.wrapper {
  /*#efebe9 brown lighten-5*/
  border-radius: 5px;
  padding: 0;
  background-color: #efebe9;
  margin-top: 8px;
}

.card-panel {
  margin: 0 0 0.5rem 0;
  background-color: white;
  padding: 0;
}

.progress {
  /*brown lighten-2*/
  /*color: #a1887f;*/
  /*#bbdefb blue lighten-4*/
  margin: 0;
  background-color: #bbdefb;
}

.progress .indeterminate {
  /*#558b2f light-green darken-3*/
  background-color: #777
}

.row-result {
  /*margin-bottom: 5px;*/
  /*#eeeeee grey lighten-3*/
  /*margin-bottom: 10px;*/
  /*border-bottom: 1px solid #eeeeee;*/
}

.results {
  /*position: fixed;
  z-index: 1000;*/
}

.row-result:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.row-result:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

md-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media only screen and (min-width: 0) {
  .row-fav {
    font-size: 16px;
    line-height: 1;
    padding: 0;
  }

  .row-img {
    padding: 0;
  }

  p.block-with-text {
    margin-bottom: 0;
    max-height: 128px;
  }

  .material-icons {
    font-size: 16px;
  }
}

@media only screen and (min-width: 601px) {
  .row-fav {
    font-size: 19px;
    line-height: 1;
  }

  p.block-with-text {
    margin-bottom: 0;
    max-height: 144px;
  }

  .material-icons {
    font-size: 19px;
  }
}

@media only screen and (min-width: 993px) {
  .row-fav {
    font-size: 24px;
    line-height: 1;
  }

  p.block-with-text {
    margin-bottom: 0;
    max-height: 144px;
  }

  .material-icons {
    font-size: 24px;
  }
}

h1 {
  /*#64b5f6 blue lighten-2*/
  font-size: 1.5rem;
  margin: 0;
  line-height: 2rem;
  max-height: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host >>> h2 {
  /*#2e7d32 green darken-3*/
  /*#64b5f6 blue lighten-2*/
  color: #2e7d32;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

:host >>> h4 {
  /*#1b5e20 green darken-4*/
  /*#64b5f6 blue lighten-2*/
  color: #1b5e20;
  font-size: 1.2rem;
  margin-top: .25rem;
  margin-bottom: .5rem;
}

img {
  margin-top: .5rem;
  margin-bottom: .5rem;
  max-height: 180px;
  max-width: 100%;
}

.row .col.division {
  height: 250px;
}

.row .col.col-img {
  padding-right: 0;
}

.rating {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  float: left;
  /*width: 100%;*/
  height: 250px;
  position: absolute;
}
