<main>
  <div class="row content-row">

    <div class="col s12 l4">
      <div class="card-panel z-depth-2">
        <md-toolbar class="light-green darken-3 white-text">
          Camp Details
        </md-toolbar>
        <div class="card-mycontent">
          <p class="desc">
            <span class="desc-title">Name: </span>{{camp?.facilityName}}
          </p>
          <p class="desc" *ngIf="camp?.ORGANIZATION?.length">
            <span class="desc-title">Organization: </span>{{camp?.ORGANIZATION[0].orgName}}
          </p>
          <p class="desc"
            *ngIf="camp?.FACILITYADDRESS?.length"
          >
            <span class="desc-title">Address: </span>{{address}}
          </p>
          <p class="desc" *ngIf="camp?.facilityPhone">
            <span class="desc-title">Phone: </span>{{camp?.facilityPhone}}
          </p>
          <p class="desc" *ngIf="camp?.facilityEmail">
            <span class="desc-title">Email: </span>{{camp?.facilityEmail}}
          </p>
          <p class="desc" *ngIf="camp?.CAMPSITE?.length">
            <span class="desc-title">Campsites: </span>{{camp?.CAMPSITE.length}}
          </p>
          <p class="desc">
            <span class="desc-title">Map: </span>
            <a [href]="mapUrl" target="_blank">
              <i class="material-icons red-text">place</i>
            </a>
            {{camp?.facilityLatitude | round: 6}}, {{camp?.facilityLongitude| round: 6}}
          </p>
          <p class="desc">
            <span class="desc-title">Directions: </span><span [innerHTML]="getDirections()"></span>
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4 lg-img-col">
      <div class="card-panel z-depth-2">
        <md-toolbar class="light-green darken-3 white-text lg-img-title">
          {{camp?.facilityName}}
        </md-toolbar>
        <img class="lg-img col s12 materialboxed"
          materialize="materialbox"
          *ngIf="camp.MEDIA?.length"
          [src]="camp.MEDIA[selectedImage].URL | httpsUrl"
        />
      </div>
      <button class="btn btn-default light-green darken-3 waves-effect waves-light z-depth-2 hide-on-small-only back-button"
      (click)="onClickGoBack()"
      >Back
      </button>
    </div>

    <div class="col s12 m6 l4 sm-img-col" *ngIf="camp.MEDIA?.length">
      <img class="col s6 sm-img"
        *ngFor="let media of camp.MEDIA; let i=index"
        [src]="media.URL | httpsUrl"
        (click)="selectedImage = i"
      />
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel z-depth-2">
        <md-toolbar class="light-green darken-3 white-text">
          Description
        </md-toolbar>
        <div class="card-mycontent"
          [innerHTML]="camp.facilityDescription"
        >
        </div>
      </div>
    </div>
  </div>

  <div class="row big-container">
    <div class="col s12 l10 offset-l1">
      <div *ngIf="camp.ADVENTURES">
        <md-toolbar class="light-green darken-3 white-text">
          Adventure Reports
        </md-toolbar>
        <!-- <div class="card-mycontent">
          <div *ngFor="let adventure of camp.ADVENTURES">
            {{adventure.userName}}
          </div>
        </div> -->

        <div class="card-panel z-depth-2 lighten-5"
          *ngFor="let adventure of camp.ADVENTURES"
          (click)="onClickAdventure($event, adventure)"
          [class.light-green]="adventure.recommend"
          [class.red]="!adventure.recommend"
        >
          <div class="row row-result">
            <div class="col s12 m6 l4 img-col">
              <img class="col s12 materialboxed img-adv"
                materialize="materialbox"
                src="https://res.cloudinary.com/myoutdooradventures/image/upload/f_auto/{{adventure.imgPublicId}}"
              />
            </div>

            <div class="col s12 m6 l8 content-col">
              <i class="material-icons right light-green-text text-darken-3"
                *ngIf="adventure.recommend"
              >
                thumb_up
              </i>
              <i class="material-icons right red-text text-darken-4"
                *ngIf="!adventure.recommend"
              >
                thumb_down
              </i>
              <div><strong>Location: </strong><span class="blue-text lighten-4">{{adventure.facilityName}}</span></div>
              <div><strong>Date: </strong>
                <span class="blue-text lighten-4">{{adventure.tripFromDate | date:'MMM d'}} - {{adventure.tripToDate | date:shortDate}}
                </span>
              </div>
              <p>{{adventure.reviewText}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>
