.button-collapse {
  cursor: pointer;
}

.something {
  background-color: green;
}

.side-nav {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.brand-logo {
  margin-left: 10px;
}

#nav-bar {
  position: absolute;
  bottom: 0;
  right: 0;
}
