<div class="navbar-fixed"
  [@navAnimation]="navState"
  (@navAnimation.start)="navAnimationStart($event)"
  (@navAnimation.done)="navAnimationDone($event)"
>
  <nav [@navAnimation]="navState" class="green darken-4">
    <div class="nav-wrapper">
      <a class="brand-logo white-text" routerLink="/search">{{title}}</a>
      <a data-activates="side-nav" class="button-collapse" materialize="sideNav" [materializeParams]="[{
            menuWidth: 200,
            edge: 'left',
            closeOnClick: true
          }]">
        <i class="material-icons">menu</i>
      </a>

      <!-- The Nav Bar -->
      <ul id="nav-bar" class="right hide-on-med-and-down blue-text">
        <!-- [@navButtonAnimation]="getNavState()" -->
        <li >
          <a routerLink="/search" routerLinkActive="active">
            <i class="material-icons left">search</i>
            Campgrounds
          </a>
        </li>
        <li *ngIf="!authService.loggedIn.userId">
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!authService.loggedIn.userId">
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li *ngIf="authService.loggedIn.userId">
          <a (click)="onLogout()">Logout</a>
        </li>
        <li *ngIf="authService.loggedIn.userId">
          <a routerLink="/adventurer/{{authService.loggedIn.userName}}" routerLinkActive="active">
            <i class="material-icons left">account_circle</i>
          </a>
        </li>
        <li *ngIf="authService.loggedIn.userId">
          <a routerLink="/settings" routerLinkActive="active">
            <i class="material-icons">settings</i>
          </a>
        </li>
      </ul>

      <!-- The Side Nav -->
      <ul class="side-nav grey lighten-1" id="side-nav">
        <li *ngIf="!authService.loggedIn.userId">
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!authService.loggedIn.userId">
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li *ngIf="authService.loggedIn.userId">
          <a routerLink="/settings" routerLinkActive="active">Settings</a>
        </li>
        <li *ngIf="authService.loggedIn.userId">
          <a (click)="onLogout()">Logout</a>
        </li>
        <li>
          <a routerLink="/search" routerLinkActive="active">
            <i class="material-icons right">search</i>
            Campgrounds
          </a>
        </li>
      </ul>

    </div>
  </nav>
</div>
<router-outlet></router-outlet>
